@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.App {
  text-align: center
  ;
}

body{
  background-color: rgb(255, 255, 255);
  color: rgb(65, 12, 163);
  font-family: Inter;
}


.text-gradient {
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); */
  background: linear-gradient(270deg, #FF0080 0%, #FF80BF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-gradient-2 {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bisque{
  background:bisque;
}

.blink {
  animation: blink 1s infinite;
 
}
@keyframes blink {
  
  0% { opacity: 1;}
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

.mainheading{
  @apply uppercase text-4xl md:text-3xl font-bold 
}
.subheading{
  @apply italic text-4xl md:text-6xl font-black
}
.sub-description{
  @apply text-base md:text-xl text-left w-11/12 md:w-2/3
}
.about-text{
  @apply text-left text-sm md:text-xl leading-6
}